h2 {
  color: #fff;
}

.container {
  margin-top: 25%;
}

.adjust-image {
  display: flex;
  justify-content: center;
  .aling-image {
    width: 80%;
  }
}

// .btnColor {
//   background-color: #eda000;
//   color: #020202;
//   font-family: courier, arial, helvetica;
// }

/* styles.css ou styles.scss */

.botao-animado {
  background-color: #eda000;
  color: #080808;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Adiciona uma transição suave na mudança de cor de fundo */
}

.botao-animado:hover {
  background-color: #d18000; /* Altera a cor de fundo quando o mouse passa sobre o botão */
}

// .text-box {
//   display: flex;
//   justify-content: center;
// }

// .btn:link,
// .btn:visited {
//   text-transform: uppercase;
//   text-decoration: none;
//   padding: 10px 30px;
//   display: inline-block;
//   border-radius: 100px;
//   transition: all 0.2s;
//   position: absolute;
// }

// .btn:hover {
//   transform: translateY(-3px);
//   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
// }

// .btn:active {
//   transform: translateY(-1px);
//   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
// }

// .btn-white {
//   background-color: #eda000;
//   color: #020202;
//   font-family: courier, arial, helvetica;
// }

// .btn::after {
//   content: "";
//   display: inline-block;
//   height: 100%;
//   width: 100%;
//   border-radius: 100px;
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   transition: all 0.4s;
// }

// .btn-white::after {
//   background-color: #fff;
// }

// .btn:hover::after {
//   transform: scaleX(1.4) scaleY(1.6);
//   opacity: 0;
// }

// .btn-animated {
//   animation: moveInBottom 5s ease-out;
//   animation-fill-mode: backwards;
// }

// @keyframes moveInBottom {
//   0% {
//     opacity: 0;
//     transform: translateY(30px);
//   }

//   100% {
//     opacity: 1;
//     transform: translateY(0px);
//   }
// }
